* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  background: url(patternECOStransparente.png),
    linear-gradient(to bottom right, #295ba7, #78b454);
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

#icone-dbc {
  width: 105px;
  height: 36px;
  margin-right: 1%;
  vertical-align: middle;
  border-style: none;
  margin-left: 20px;
}

.cabecalho a {
  text-decoration: none;
  color: white;
}

nav ul li {
  display: inline;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav:hover {
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #2ba962),
    color-stop(98%, #2e6a99),
    color-stop(100%, #2e6a99)
  );
  background: linear-gradient(to right, #2ba962 0%, #2e6a99 98%, #2e6a99 100%);
}

.menu-inicio {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
}

#searchbar {
  padding: 10px;
  margin: 15px;
  width: 300px;
  border-radius: 10px;
  opacity: 0.3;
}

#icone-pesquisa {
  position: absolute;
  top: 25px;
  left: 510px;
  font-size: 20px;
  opacity: 0.3;
  color: white !important;
}

#icone-menu {
  content: "\f2bd";
  color: white !important;
  right: 0px;
  top: 20px;
}

.icone-user {
  content: "\f0f3";
  color: white;
  position: absolute;
  margin: 0 auto;
  right: 50px;
  top: 20px;
  cursor: pointer;
  font-size: 30px;
}

.icone-notificacoes i {
  content: "\f0f3";
  color: white;
  position: absolute;
  margin: 0 auto;
  right: 135px;
  top: 22px;
  cursor: pointer;
  font-size: 30px;
}

#icone-angle-down {
  font-size: 20px;
}